.profile-container{
  /* display: flex;
  align-items: center;
  
  justify-content: center; */
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-photo{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.btn-sign{
  border-radius: 5px;
  font-weight: 600;
}
.btn-sign button{
  border-radius: 7px;
  
}